In [1]:
import pandas as pd

In [2]:
# Import pandas library
import pandas as pd
  
# initialize list of lists
data = [['tom', 10], ['nick', 15], ['juli', 14]]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age'])
  
# print dataframe.
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [6]:
df.describe()

             Age
count   3.000000
mean   13.000000
std     2.645751
min    10.000000
25%    12.000000
50%    14.000000
75%    14.500000
max    15.000000